<section class="block">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis tempore qui dolorum ab nemo voluptas
            repudiandae?</p>
    </div>
</section>

<section class="block block--dark">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis tempore qui dolorum ab nemo voluptas
            repudiandae?</p>
    </div>
</section>

<section class="block block--dark block--skewed-right">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis tempore qui dolorum ab nemo voluptas
            repudiandae?</p>
    </div>
</section>

<section class="block block--dark block--skewed-left">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis tempore qui dolorum ab nemo voluptas
            repudiandae?</p>
    </div>
</section>